<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
	<title>Pictgram</title>
</head>

<body>

	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<span th:text="${message}"></span>
	</div>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<footer class="footer" th:if="${hasFooter}">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3b41e5c9.321de907.3b41e5ca.4012319a/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fnishiuchikagetsudo%2Fhonki-mode455%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3b41e5c9.321de907.3b41e5ca.4012319a/?me_id=1315185&item_id=10000540&pc=https%3A%2F%2Fimage.rakuten.co.jp%2Fnishiuchikagetsudo%2Fcabinet%2Fwchoco%2Fc39n%2F23cho39-11.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3b41e5c9.321de907.3b41e5ca.4012319a/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fnishiuchikagetsudo%2Fhonki-mode455%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【今季限り数量限定】是非食べ比べて見てください★★★★ チョコレート
														送料無料 訳あり スイーツ 割れチョコ 37種類から1種が選べる クーベルチュールの 贅沢 割れチョコ 250g
														割れチョコレート 訳あり お取り寄せ チョコ</a><br><span>価格：1,200円（税込、送料無料)</span>
													<span style="color:#BBB">(2024/4/11時点)</span>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3b41fb82.16c3433e.3b41fb83.f601ace3/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fsurugayaki%2Fdai00600%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3b41fb82.16c3433e.3b41fb83.f601ace3/?me_id=1305806&item_id=10000016&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fsurugayaki%2Fcabinet%2Fdaihuku%2Fimgrc0106272594.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3b41fb82.16c3433e.3b41fb83.f601ace3/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fsurugayaki%2Fdai00600%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">楽天1位【高評価★4.84】【送料無料】 大福 フルーツ大福 6個入
														母の日 父の日 お返し 早割 絶品 苺 いちご みかん 生パイン キウイ 桃 フルーツ ギフト プレゼント 手作り 和菓子
														お菓子 和スイーツ 個包装 大福餅 美味しい 餅 全国
														セット</a><br><span>価格：3,750円（税込、送料無料)</span> <span
														style="color:#BBB">(2024/4/11時点)</span>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3b41fe4c.5289a46b.3b41fe4d.d4bfba3e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fpatico%2Fpatico075%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3b41fe4c.5289a46b.3b41fe4d.d4bfba3e/?me_id=1385954&item_id=10000067&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fpatico%2Fcabinet%2F07204825%2F10336747%2Fimgrc0106214147.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3b41fe4c.5289a46b.3b41fe4d.d4bfba3e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fpatico%2Fpatico075%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">クレームブリュレ 2個入 カタラーナ クリームブリュレ ブリュレ
														2024 スイーツ ギフト お菓子 母の日 プレゼント アイス プリン 詰め合わせ お取り寄せスイーツ スイーツギフト 送料無料
														食品 冷凍 Patico【a】</a><br><span>価格：3,980円（税込、送料別)</span> <span
														style="color:#BBB">(2024/4/11時点)</span></p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script src="https://sdk.push7.jp/v2/p7sdk.js"></script>
	<script th:inline="javascript">
		p7.init(/*[[${@environment.getProperty('push7.id')}]]*/, {
			mode: "native",
			subscribe: "auto"
		});
	</script>
	<script>
		$(function () {
			convertMethod('.convert');
			$(".alert").fadeOut(5000);
		});
	</script>
</body>

</html>